body{
    background: url("satu2.jpg");
}

.jumbotron{
    position: absolute;
    height: 400px;
    width: 400px;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px black;
}
fieldset{
    height: 370px;
    width: 355px;
    
}
legend{
    font-size: 23px;
    color: rgb(58, 3, 3);
   
}
label{

    line-height: 40px;
    
}
input{

float: right;
margin-right: 70px;
}