body{
    background-image: url("../satu2.jpg");
}
.container{
    position: absolute;
    height: 400px;
    width: 350px;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px black;
}
.addTxt{
    position: absolute;
    height: 5px;
    width: 60%;
    margin: auto;
    top: 25px;
    right: 0;
    left: 0;
    outline: none;
    border: none;
    padding: 20px;
    padding-right: 50px;
    font-family: ;
}
.addBtn{
    position: absolute;
    height: 40px;
    width: 40px;
    margin: auto;
    top: 15px;
    right: 35px;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: 0;
}
.addBtn img{
    position: absolute;
    height: 40px;
    margin: auto;
    top: 25px;
    right: 0;
    left: 0;
    bottom: 0;
}
.todolist{
    position: absolute;
    height: 75%;
    width: 100%;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
        overflow-x: hidden;
}
.list::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
}
.element{
    position: relative;
    height: fit-content;
    width: 55%;
    right: 0;
    margin: 15px;
    text-align: left;
    transition: .2s;
    padding: 10px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 2px;
    padding-right: 80px;
    word-wrap: break-word;
    font-family: ;
    text-align: center;
}
.element:hover{
    transform: scale(1.1)
}
.tick{
    position: absolute;
    margin: auto;
    height: 20px;
    top: 0;
    bottom: 0;
    right: 50px;
}
.dustbin{
    position: absolute;
    margin: auto;
    height: 30px;
    top: 0;
    bottom: 0;
    right: 10px;
    filter: grayscale(1);
}